.chips .input{
    width: 320px !important;
}

.btnFixed {
    position: fixed;
    right: 50px;
    bottom: 50px;
}

.main {
    height: 100vh;
}   


.nav-wrapper{
    background-color: #DCDCDC;
}

nav ul a{
    color: black;
}

.brand-logo{
    left: 10%;
}

.componNavbar{
    position: relative;
    right: 10%;
}

html[dark]{
    background-color: black;
}